<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property="og:title" content="endue.com Reset Password">
  <title>endue.com Reset Password</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none; margin: 0; padding: 0; background-color: #FAFAFA; width: 100%;">
  <center>

    <table width="95%" border="0" cellspacing="0" cellpadding="1" align="center" bgcolor="#DDDDDD">
    <tr>
      <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="10" align="center">
        <!-- Logo Header -->
        <tr>
          <td bgcolor="#FFFFFF" align="left" valign="top" style="border-collapse: collapse;">
              <img src="http://easyupp.com/static/easyupp-logo-light.png" style="max-width: 600px; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;" id="header_image">
          </td>
        </tr>
        <tr valign="top">
          <td bgcolor="#FFFFFF">
            <font style="color: #000000; font-family: Arial; font-size: 12px; line-height: 100%; text-align: left;" face="helvetica,verdana,arial" size="-1">
            <p>
              <b>{{{TextBody}}}</b>
            </p>
            </font>

            <tr bgcolor="FFFFFF">
              <td>
                <hr noshade="noshade" size="1"/>
              </td>
            </tr>
            </table>
          </td>
        </tr>
        </table>
      </td>
    </tr>
    </table>

  </center>
</body>
</html>
